[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bispdep"]
	path = bispdep
	url = https://github.com/carlosm77/bispdep
[submodule "geosptdb"]
	path = geosptdb
	url = https://github.com/cran/geosptdb
